.container {
  max-width: 90vw;
  margin: 5rem auto;
} 

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 2vw;
}

.title {
  text-align: start;
  margin-left: 6rem;
  font-size: 2.75rem;
}

.content > div,
.content img {
  height: 320px;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
    place-items: center;
  }
}