.container {
  background-color: var(--color-base8);
  width: 100%;
  margin: 160px 0px 80px 0px;
  padding: 4vw 6vw;
  transition: all .6s ease-in-out;
  position: relative;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(520px, auto));
  gap: 60px;
}

.leftIdent {
  justify-self: end;
  align-self: end;
  margin-right: 10px;
  margin-top: 3rem;
  grid-column: 2;
  text-align: end;
}

.leftIdent p {
  font-size: 2.5rem;
}

/* Responsive */

@media (max-width: 1400px) {
  .container { 
    padding: 3vw 5vw;
  }

  .content { 
    grid-template-columns: repeat(2, minmax(420px, auto));
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .content { 
    grid-template-columns: repeat(2, minmax(340px, auto));
    gap: 20px;
  }
} 

@media (max-width: 768px) {
  .container { 
    padding: 6vw 10vw;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .leftIdent p { 
    font-size: 2rem;
  }
}

@media (max-width: 768px) { 
  .container { 
    padding: 3vw 5vw;
  }
}