.containerFormation {
  max-width: 90vw;
  height: 120vh;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8vw;
}

.formation, .technologies {
  display: grid;
}

.titleDetails {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-base6);
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.leftIdent {
  justify-self: end;
  margin-right: 10px;
  margin-top: 3rem;
}

.leftIdent span {
  font-size: 2rem  
}