.containerFormation {
  max-width: 90vw;
  height: 100vh;
  /* border: 1px solid blue; */
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8vw;
}

.formation, .technologies {
  /* border: 1px solid red; */
  display: grid;
}

.titleDetails {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-base6);
  letter-spacing: 0.2rem;
  text-align: center;
}

.leftIdent {
  justify-self: end;
  margin-right: 10px;
  font-size: 2rem  
}