.containerFooter {
  background-color: var(--color-base9);
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));  
  gap: 160px;
  padding: 40px 10vw 40px 0px;
}

.containerFooter .logo {
  margin: none;
  font-size: 3rem;
}

.containerFooter div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
}

.voltarTopo {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  color: var(--color-neutral1);
}

.voltarTopo a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-weight: 600;
}

.voltarTopo p {
  font-size: 1.5rem;
}

.voltarTopo svg {
  min-width: 32px;
  min-height: 17px;
}

.voltarTopo svg path {
  stroke: currentColor;
  stroke-width: 3;
}

.voltarTopo a:hover svg path,
.voltarTopo a:hover {
  color: var(--color-primary2);
  stroke: var(--color-primary2);
}

.voltarTopo a svg{
  transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  .voltarTopo p {
    font-size: 1.125rem;
  }
}

@media (max-width: 1024px) {
  .containerFooter {
    grid-template-columns: repeat(2, minmax(120px, 1fr));  
    gap: 4rem;
  }

  .voltarTopo p {
    font-size: 1.5rem;
  }

  .voltarTopo {
    order: -1;
  }

  .containerFooter .linkSocialMedia {
    margin-left:10vw ;
  }
}

@media (max-width: 480px) {
  .voltarTopo p {
    font-size: 1rem;
  }

  .voltarTopo a {
    gap: 10px;
  }

}