.containerAbout {
  display: grid;
  grid-template-columns: minmax(400px, auto) 2fr;
  width: 88vw;
  min-height: 74vh;
  margin: 0 auto;
  margin: 3.75rem auto;
  gap: 40px;
}

@media only screen and (max-width: 1024px) {
  .containerAbout { 
    grid-template-columns: minmax(320px, auto) 2fr;
    gap: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .containerAbout {
    grid-template-columns: 1fr;
    max-height: 100%;
    width: 95vw;
  }
}

@media (orientation: portrait) {
  .containerAbout { 
    min-height: 74vw;
  }
}