.cardPhotoContainer {
  display: grid;
  min-width: 320px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  box-shadow: 4px 4px 12px 4px rgb(0 0 0 / 0.3);
  border-radius: 25px;
  padding-bottom: 2rem;
}

.cardPhotoContainer img {
  width: 92.7%;
  height: 370px;
  margin: 14px auto;
  border-radius: 25px;
}

.cardPhotoContainer div {
  display: grid;
  gap: 1rem;
  margin: 60px 0px;
  justify-content: center;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.btnCurriculum {
  justify-self: center;
  border: 1px solid var(--color-base5);
  border-radius: 15px;
  max-width: 300px;
  font-size: 1.25rem;
  padding: 1rem 2.25rem;
  color: var(--color-base3);
  transition: all .3s;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.btnCurriculum:hover,
.btnCurriculum:hover svg path {
  fill: var(--color-primary2);
  color: var(--color-primary2);
  border: 1px solid var(--color-primary2);
  transition: all .3s;
}

@media only screen and (max-width: 1024px) {
  .cardPhotoContainer {
    width: 180px;
    margin: 0 auto;
    max-height: 620px;
  }

  .cardPhotoContainer img { 
    height: 280px;
  }

  .cardPhotoContainer div {
    gap: 0.5rem;
    margin: 40px 0px;
  }

  .name {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .cardPhotoContainer {
    display: grid;
    min-width: 320px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    box-shadow: none;
    padding-bottom: 0;
  }

  .cardPhotoContainer img {
    width: 160px;
    height: 160px;
    margin: 14px auto;
    border-radius: 50%;
  }

  .cardPhotoContainer div {
    margin: 30px 0px 10px 0px;
  }

  .btnCurriculum { 
    display: none;
  }
}