/* Arquivo CSS usado para resetar os estilos. */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;1,400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-font: 'Prompt', sans-serif;
  --secondary-font: 'Fira Sans', sans-serif;

  --color-primary1: #CC4CF9;
  --color-primary2: #7138EC;
  --color-primary3: #5B20D8;
  --color-primary4: #440AC0;
  --color-primary5: #32009C;
}

html.dark {
  --color-base1: #9C9C9D;
  --color-base2: #83818B;
  --color-base3: #626072;
  --color-base4: #4A475B;
  --color-base5: #3D3A50;
  --color-base6: #2A283C;
  --color-base7: #181624;
  --color-base8: #0D0C15; 
  --color-base9: #05040A;

  --color-neutral1: #F7F7F7;
  --color-neutral2: #D1BBBB;
  --color-neutral3: #A68080;
}

html.light {
  --color-base1: #717171;
  --color-base2: #787878;
  --color-base3: #838383;
  --color-base4: #939393;
  --color-base5: #B1B1B1;
  --color-base6: #CBCBCB;
  --color-base7: #EAEAEA;
  --color-base8: #F4F4F4; 
  --color-base9: #FFFFFF;

  --color-neutral1: #05040A;
  --color-neutral2: #2A283C;
  --color-neutral3: #626072;
}

::-webkit-scrollbar {
  background-color: var(--color-base9); 
  width: 10px; /* largura da barra de rolagem */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral1);
  border-radius: 10px; 
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  background-color: var(--color-base7);
  color: var(--color-neutral1);
  overflow-x: hidden;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
  text-transform: none;
  color: var(--color-neutral1);
}

:global(.active) {
  color: var(--color-primary2);
}

.active {
  color: var(--color-primary2);
  /* text-shadow: 0px 0px 12px  var(--color-primary3); */
}

/* Links internos */
.aboutMeLink {
  cursor: pointer;
  color: var(--color-base3);
  font-size: 1.5rem;
  display: flex;
  gap: 24px;
  align-items: center;
  width: fit-content;
}

.aboutMeLink:hover,
.aboutMeLink:hover path {
  color: var(--color-primary2);
  text-shadow: 0px 0px 12px  var(--color-primary3);
  fill: var(--color-primary2);
  stroke: var(--color-primary2);
}

.titleDetails {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-base6);
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  margin-left: 10vw;
  font-size: 2rem;
  font-weight: bold;
}

.logoDetails {
  color: var(--color-neutral1);
  text-shadow: none;
  align-self: self-start;
} 

.logoDetails strong {
  color: var(--color-primary2);
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transition: 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: 1s;
}


@media (max-width: 1400px) {
  .titleDetails {
    font-size: 3rem;
    letter-spacing: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  .logoDetails {
    font-size: 2.25rem;
  }

  .logo {
    order: -2;
  }

  .titleDetails {
    font-size: 5rem;
    letter-spacing: 0.2;
    margin-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  .titleDetails {
    font-size: 3rem;
    letter-spacing: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .logoDetails {
    font-size: 1.5rem;
  }
}